:root {
    --championColor: rgb(218, 165, 32);
    --grandmasterColor: rgb(153, 123, 46);
    --masterColor: rgb(187, 126, 69);
    --proColor: rgb(245, 12, 12);
    --advancedColor: rgb(179, 12, 245);
    --intermediateColor: rgb(179, 12, 245);
    --beginnerColor: rgb(133, 130, 134);
    --HT1: #ffd900;
    --LT1: #796a17;
    --HT2: rgb(194, 194, 194);
    --LT2: rgb(121, 120, 120);
    --HT3: rgb(255, 128, 9);
    --LT3: rgb(136, 68, 5);
    --HT4: rgb(55, 38, 82);
    --LT4: rgb(53, 46, 63);
    --HT5: rgb(55, 38, 82);
    --LT5: rgb(53, 46, 63);
    --unranked: rgb(59, 104, 53);
    --playerSlotTransitionDistance: -40px;
    --floaterColor: rgb(36, 35, 49);
    --bgColor: rgb(7, 65, 12);
    --accentColor1: rgb(17, 21, 255);
    --accentColor2: rgb(5, 73, 31);
    --accentColor3: rgb(100, 98, 11);
    --accentColor4: rgb(21, 56, 6);
    --firstColor: gold;
    --secondColor: rgb(160, 159, 159);
    --thirdColor: rgb(223, 135, 3);
    --fourthColor: rgb(4, 99, 20);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background: var(--bgColor);
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.bubble {
    position: fixed;
    width: 600px;
    height: 600px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.5;
    z-index: -1;
}

.header {
    background-color: rgba(5, 70, 16, 0.521);
    padding: 15px 20px;
    box-shadow: 0px 0px 20px rgb(4, 43, 4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    overflow-x: hidden;
    width: 85vw;
    border-radius: 16px;
    filter: drop-shadow();
    margin-left: auto;
    margin-right: auto;
}

#brand-link {
    justify-self: start;
}

.center-header-items {
    justify-self: center;
}

.right-header-items {
    justify-self: end;
}

.center-header-items {
    height: 45px;
    z-index: 1;
}

#center-header-items-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: white;
    border-radius: 12px;
    width: 100px;
    height: 45px;
    margin: 0 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.25s;

}

.link:active {
    text-decoration: none;
    color: white;
}

.link:hover {
    background-color: rgba(122, 122, 122, 0.521);
}

#discord:hover {
    background-color: rgb(81,102,247);
    transform: scale(1.15);
    box-shadow: 0 0 5px rgb(26, 5, 209);
}

#brand-name-link {
    text-decoration: none;
    color: white;
    z-index: 2;
    position: relative;
    vertical-align: middle;
    line-height: 45px;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 1.2vw;
    text-shadow: 0 0 5px black;
}

.sub-item {
    color: white;
    width: fit-content;
    text-align: center;
}

#title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

#leaderboard {
    display: flex;
    flex-direction: column;
}

.leaderboard-slot-1 {
    display: flex;
    background: linear-gradient(100deg,#ffa93a6b,#ffd46b4d 18%,#ffd46b00 32%),rgb(23, 56, 13);
    width: 65vw;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 5px gold;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 8;
    flex-wrap: wrap;
    overflow: hidden;
    isolation: isolate;
    position: relative;
}

.leaderboard-slot-1:hover {
    transform: translateX(var(--playerSlotTransitionDistance));
    background: linear-gradient(100deg,#ffa93a6b,#ffd46b4d 18%,#ffd46b00 32%),rgb(35, 83, 20);
}

.leaderboard-ranking {
    box-shadow: 0 0 5px rgb(34, 26, 5);
    width: 100px;
    height: 100px;
    border-radius: 17px;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1.6px 3px 2px rgb(0, 0, 0);
    margin: 15px;
    margin-right: 2.5vw;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leaderboard-slot-2 {
    display: flex;
    background: linear-gradient(100deg,#b8ac9c6b,#d4c9ad4d 18%,#ffd46b00 32%),rgb(23, 56, 13);
    width: 65vw;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(170, 169, 168);
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 8;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.leaderboard-slot-2:hover {
    transform: translateX(var(--playerSlotTransitionDistance));
    background: linear-gradient(100deg,#b8ac9c6b,#d4c9ad4d 18%,#ffd46b00 32%),rgb(35, 83, 20);
}

.leaderboard-slot-3 {
    display: flex;
    background: linear-gradient(100deg,#9757036b,#7554024d 18%,#c28d0600 32%),rgb(23, 56, 13);
    width: 65vw;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(199, 107, 2);
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 8;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.leaderboard-slot-3:hover {
    transform: translateX(var(--playerSlotTransitionDistance));
    background: linear-gradient(100deg,#9757036b,#7554024d 18%,#c28d0600 32%),rgb(35, 83, 20);
}

.leaderboard-slot {
    display: flex;
    background: linear-gradient(100deg,#1a680b6b,#026b074d 18%,#c28d0600 32%),rgb(23, 56, 13);
    width: 65vw;
    align-items: center;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 8;
    flex-wrap: wrap;
}

.leaderboard-slot:hover {
    transform: translateX(var(--playerSlotTransitionDistance));
    background: linear-gradient(100deg,#1a680b6b,#026b074d 18%,#c28d0600 32%),rgb(35, 83, 20);
}

.player-image {
    width: 90px;
    height: 90px;
    margin-right: 2vw;
    filter: drop-shadow(-4px 4px 4px);
}

.points-badge-and-name {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.player-points {
    margin-right: 2vw;
    text-align: center;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

.player-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.username {
    color: white;
    font-weight: bold;
    font-size: 40px;
    align-self: center;
}

.gamemode-button {
    background: transparent;
    border: none;
    width: 100px;
    height: 125px;
    margin-top: 20px;
    border-radius: 30px;
    transition: transform 0.15s;
    margin-right: 15px;
}

.gamemode-button:hover {
    transform: scale(1.2);
}

.gamemode-image {
    width: 70px;
    height: auto;
    padding-bottom: 5px;
    filter: drop-shadow(0 0 10px rgba(9, 236, 149,1)) drop-shadow(0 0 10px);
}

.gamemode-text {
    color: rgb(168, 168, 168);
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.floating {
    position:fixed;
    background: var(--floaterColor);
    opacity: 1;
    z-index: 10;
    pointer-events: all;
}

#info-floater {
    width: 26vw;
    height: 600px;
    border-radius: 40px;
    display: flex;
    opacity: 1;
    transition: opacity 0.2s;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px gray;
    scrollbar-width: none;
    position: absolute;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

#info-floater-points {
    width: 26vw;
    height: 600px;
    border-radius: 40px;
    display: flex;
    opacity: 1;
    transition: opacity 0.2s;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px gray;
    overflow-y: auto;
    scrollbar-width: none;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

#floater-background {
    width: 100%;
    height: 100vh;
    z-index: 9;
    opacity: 0.5;
    background-color: black;
    display: none;
    position: fixed;
}

.info-panels {
    background-color: rgb(29, 36, 43);
    border-radius: 15px;
    width: 21vw;
    height: 60px;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    z-index: 10;
}

.info-panels img {
    width: 55px;
    float: left;
    align-self: center;
    vertical-align: middle;
    line-height: 60px;
    margin-right: 20px;
}

#mini-title {
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    text-align: center;
}

.mini-title {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 1.5vw;
    color: white;
    z-index: 11;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#title-buttons {
    background-color: rgb(53, 52, 52);
    margin-top: 10px;
    border-radius: 15px;
    height: 60px;
    z-index: 11;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#title-buttons a {
    margin: 0 0.9vw;
    font-size: 1.6vw;
    font-weight: bold;
    color: white;
    padding: 0 2.7vw;
    border-radius: 15px;
    vertical-align: middle;
    line-height: 60px;
}

#title-button {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}

#champion {
    margin-top: 150px;
}

#top-scroll-hider {
    background-color: rgb(36, 35, 49);
    width: 23.5vw;
    height: 125px;
    z-index: 11;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#points-button-points {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}

.points-cat {
    font-size: 25px;
}

#tier-1 span {
    color: gold;
    text-shadow: 0 0 5px gold;
}

#tier-1 {
    margin-top: 140px;
}

#tier-2 span {
    color: rgb(177, 177, 177);
}

#tier-3 span {
    color: rgb(182, 119, 1);
}

#tier-4 span {
    color: rgb(80, 78, 75);
}

#tier-5 span {
    color: rgb(80, 78, 75);
}

#high-tier {
    margin-bottom: 5px;
}

.points-cat {
    margin-bottom: 10px;
    justify-self: center;
}

.points-disp {
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    width: 155px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.gamemode-tiers {
    display: flex;
    gap: 1vw;
    margin-left: auto;
    flex-wrap: wrap;
}

.gamemode-tiers-stats {
    display: flex;
    gap: 1vw;
    width: auto;
    justify-self: center;
    margin-top: 20px;
    border: solid grey 2px;
    border-radius: 20px;
    padding: 1vw;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 5px grey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.gamemode-image-player {
    width: 30px;
}

.gamemode-type {
    color: rgb(0, 0, 0);
    height: 21px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    margin-top: 2px;
}

.img-border {
    border-radius: 50%;
    overflow: hidden;
    padding: 7px;
    background-color: rgb(23, 32, 24);
}

#neth-pot-gamemode {
    padding-right: 1vw;
}

#player-stats {
    width: 35vw;
    height: 600px;
    border-radius: 40px;
    opacity: 1;
    transition: opacity 0.2s;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px gray;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
    align-items: center;
    flex-direction:column;
    overflow-x: auto;
}

.player-circ-image {
    width: 6vw;
    height: 6vw;
    margin-top: 20px;
    border-radius: 50%;
    border: solid 2px grey;
    box-shadow: 0 0 5px grey;
}

.username-stats {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-size: 2vw;
}

.title-stats {
    font-weight: bold;
    font-size: 1.2vw;
}

.position-title {
    margin-top: 20px;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: grey;
    align-self: flex-start;
    font-style: italic;
}

.position-on-leaderboard-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 35vw;
}

.overall-text {
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    margin-top: 5px;
    font-size: 1.6vw;

}

.position-on-leaderboard {
    font-size: 2vw;
    color: white;
    justify-self: center;
    font-weight: bold;
}

.tiers-stats-title {
    margin-top: 20px;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: grey;
    align-self: flex-start;
    font-style: italic;
}

#leaderboard-wrapper {
    display: flex;
    justify-content: center;
}

#leaderboard {
    background-color: rgb(10, 92, 10);
    width: 70vw;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(44, 44, 43);
    border: solid 3px rgb(6, 68, 6);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#made-by-ankle-monitor {
    color: white;
    font-size: 20px;
}

#skins-via {
    color: rgb(141, 141, 141);
    margin-top: 5px;
}

#skins-via span {
    color: rgb(255, 251, 251);
    background-color: rgb(48, 47, 47);
    padding:5px 7px;
    border-radius: 10px;
}

#credit-brand {
    position: fixed;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 7px;
    background-color: rgb(6, 44, 1);
    border-radius: 999px;
    border: solid 2px #3a764c;
    font-weight: bold;
    color: grey;
    font-size: 0.7vw;
    z-index: 25;
}

#credit-brand span {
    background: linear-gradient(to right, #065e91, rgb(4, 155, 4));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    font-size: 0.7vw;
}

.search {
    background-color: rgb(17, 65, 25);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    border: solid 2px rgb(11, 88, 11);
    display: flex;
    align-items: center;
}

#search {
    background: transparent;
    border-width: 0px;
    width: 240px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#search:focus {
    outline: none;
}

#extra-info {
    font-size: 1.2vw; 
    width: 100%;
}

#copyright-info-link {
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

#copyright-info-link:hover {
    color: rgb(21, 75, 250);
    text-decoration: underline;
}

.leaderboard-slot-1::before {
    content: '';
    position: absolute;
    height: 250%;
    width: 40px;
    top: 0;
    left: -60px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: rotate(45deg) translateY(-35%);
    animation: shine 5s ease infinite;
}

.leaderboard-slot-2::before {
    content: '';
    position: absolute;
    height: 250%;
    width: 40px;
    top: 0;
    left: -60px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: rotate(45deg) translateY(-35%);
    animation: shine 5s ease infinite;
}

.leaderboard-slot-3::before {
    content: '';
    position: absolute;
    height: 250%;
    width: 40px;
    top: 0;
    left: -60px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: rotate(45deg) translateY(-35%);
    animation: shine 5s ease infinite;
}

.namemc {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgb(55, 59, 82);
    padding:  7px 10px;
    border-radius: 15px;
    align-items: center;
    color: rgb(151, 150, 150);
    margin-top: 10px;
    margin-bottom: 7px;
}

.namemc:hover {
    color: white;
}

#namemc-link {
    text-decoration: none;
}

.namemc img {
    border-radius: 5px;
}

.material-symbols-outlined {
    color: black !important;
    font-weight: bold !important;
}

@keyframes shine {
  0% {
    left: -80px;
  }
  40% {
    left: calc(100% + 20px);
  }
  100% {
    left: calc(100% + 20px);
  }
}

@media (max-width: 800px){

    .header {
        display: flex;
        flex-direction: column;
    }
    #brand-link {
        float: none;
        width: 100%;
        text-align: center;
    }

    .gamemode-tiers-stats {
        width: auto;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    #info-floater {
        width: 60vw;
    }

    #info-floater-points {
        width: 60vw;
    }

    .info-panels {
        width: 50vw;
    }

    #title-buttons {
        justify-self: center;
        background-color: rgb(53, 52, 52);
        margin-top: 10px;
        border-radius: 15px;
        height: 60px;
        position: fixed;
        z-index: 11;
    }

    #title-buttons a {
        margin: 0 4vw;
        font-size: 3.7vw;
        font-weight: bold;
        color: white;
        padding: 0 2.7vw;
        border-radius: 15px;
        vertical-align: middle;
        line-height: 60px;
    }
    .mini-title {
        font-size: 3vw;
    }

    #top-scroll-hider {
        width: 58vw;
        border-radius: 25px;
    }

    
    .points-badge-and-name {
        margin: auto;
        margin-bottom: 10px;
    }

    .gamemode-tiers {
        margin: auto;
        margin-bottom: 10px;
    }

    #credit-brand {
        font-size: 1.6vw;
    }

    #credit-brand span {
        font-size: 1.6vw;
    }

    #mini-title {
        font-size: 6vw;
    }

    #extra-info {
        font-size: 3vw;
    }
    .search {
        margin-top: 10px;
    }

    .player-circ-image {
        width: 13vw;
        height: 13vw;
    }

    .username-stats {
        font-size: 5vw;
    }
    .title-stats {
        font-size: 3vw;
    }

    .position-title {
        font-size: 3vw;
    }

    .tiers-stats-title {
        font-size: 3vw;
    }

    .overall-text {
        font-size: 2.7vw;
    }

    .position-on-leaderboard {
        font-size: 3.5vw;
    }

    .position-on-leaderboard-wrapper {
        width: 50vw;
    }
}

@media (max-width: 1300px) {
    #player-stats {
        width: 65vw;
    }
}
